<div class="col-md-4">
  <div ng-hide="loadingItemVariants">
    <a title="Unselect item" href ui-sref="^"><i class="glyphicon glyphicon-remove"> </i></a>{{ selectedItem.label }}

    <ul>
      <li ng-repeat="itemVariant in itemVariants">
        <div>
          <a href ui-sref="dashboard.byCompany.items.variants.variant({ itemVariantId: itemVariant.id })">{{ itemVariant.label }}</a>
        </div>
        <div>
          <img ng-src="{{ itemVariant.images[0].styles.thumbnail }}" />
        </div>

      </li>
    </ul>
  </div>
</div>

<div ui-view></div>
