<div id="dashboard-forgot-password">
  <div class="page-forgot-password">
    <div class="forgot-password-header">
      <section class="logo text-center">
        <h1>Skeleton</h1>
      </section>
    </div>

    <div class="forgot-password-body">
      <div class="container">

        <div class="alert alert-success fade in" ng-show="passwordResetSent">
          <i class="fa fa-check-circle fa-fw fa-lg"></i>
          If the username is registered in our system we'll send you an email with instructions.
        </div>

        <div class="alert alert-danger fade in" ng-show="ErrorMsg">
          <i class="fa fa-times-circle fa-fw fa-lg"></i>
          Request failed.
        </div>

        <h4>Forgot your password?</h4>
        <p>Enter your email to recover your password.</p>

        <div class="form-container">
          <form class="form-horizontal" id="login" ng-submit="forgotPassword()">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-first">
                <span class="input-group-addon">
                    <span class="ti-email"></span>
                </span>
                  <input ng-disabled="passwordResetSent" ng-model="email" name="email" type="text" class="form-control input-lg" placeholder="Email" required>
                </div>
              </div>

              <div class="form-group">
                <input ng-disabled="passwordResetSent || ErrorMsg" type="submit" class="btn btn-primary btn-lg btn-block text-center" id="submit" value="Recover Password" />
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <a ui-sref="login">Back to login</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
