<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="clientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <loading-bar-text></loading-bar-text>
    <div ui-view></div>

    <div class="container">
      <h3>Login with demo / 1234</h3>
      <pre>
        <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
        $state = {{$state.current.name}}
        $stateParams = {{$stateParams}}
        $state full url = {{ $state.$current.url.source }}
        <!-- $state.$current is not a public api, we are using it to
             display the full url for learning purposes-->
      </pre>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- generated by grunt -->
    <script src="scripts/config.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/companies.js"></script>
        <script src="scripts/controllers/events.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/events.js"></script>
        <script src="scripts/services/companies.js"></script>
        <script src="scripts/services/map.js"></script>
        <script src="scripts/services/marker.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/directives/spinner.js"></script>
        <script src="scripts/directives/loadingbartext.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/services/account.js"></script>
        <script src="scripts/controllers/homepage.js"></script>
        <!-- endbuild -->
</body>
</html>
